div{
	width:1100px;
	background-color:#cbd6cb;
	padding:10px;
}

.img{
	width:200px;
	border:1px solid grey;
}

.text{
	width:600px;
	border:1px solid grey;
	text-align:center;
}

table{
	border:1px solid grey;
}

#img1{
	width:600px;
}

#imgc{
	height:120px;
	width:200px;
}


